<h1 class="mb-5 text-center">Jelentkezés módosítása</h1>

<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-10">
    <%= react_component("EventRegistrationForm",
                        { schema: @event_type.schema,
                          uischema: @event_type.uischema,
                          token: form_authenticity_token,
                          eventId: @participation.event_id,
                          form_data: @participation.form_data.to_json,
                          url: participation_path(@participation),
                          method: 'PUT',
                          backPath: event_path(@participation.event),
                        },
                        { prerender: true }) %>
  </div>
</div>
