<% if not @event.event_type %>
  <h1> Ehhez az eseményhez nem tartozik jelentkeztető űrlap</h1>
<% else %>
  <h1 class="mt-4 mb-2 text-center">Résztvevők</h1>
  <h4 class="mb-4 text-center"><%= @event.name %></h4>

  <div class="table-responsive">
    <%= render 'table' %>
  </div>

  <div class="d-flex justify-content-between mt-3">
    <%= link_to 'Vissza', event_path(@event), class: "btn btn-outline-primary" %>
    <%= link_to 'Letöltés', event_registrations_path(@event, format: :csv), class: "btn btn-primary" %>
  </div>
<% end %>
