<h1 class="mb-1 text-center">Jelentkezés eseményre</h1>
<h3 class="mb-5 text-center"><%= @participation.event.name %></h3>

<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="card">
      <div class="card-body">
        <%= react_component("EventRegistrationForm",
                            { schema:    @event_type.schema,
                              uischema:  @event_type.uischema,
                              token:     form_authenticity_token,
                              eventId:   @participation.event_id,
                              form_data: @participation.form_data.to_json,
                              url:       '/participations',
                              method:    'POST',
                              backPath:  event_path(@participation.event),
                            },
                            { prerender: true }) %>
      </div>
    </div>
  </div>
</div>
