<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UI Profile Card with CSS</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
    <div class="card">
        <div class="card-header">
            <img src="https://www.toplist.pk/assets/images/users/dp/profile.jpg" alt="Profile Image" class="profile-img">
        </div>
        <div class="card-body">
            <p class="full-name">Kölcsönöz Elek</p>
            <p class="username">@kolcsonozelek</p>
            <p class="city">Budapest Irinyi utca 49</p>
            <p class="desc">Nagyon jo ez az airsoft, szivesen kolcsonzok mindig nagyon jo airsoftos dolgokat, es hogy hosszu ez a szoveg, es megtorjon hogy jo legyen.</p>
            <p>            

                <a href="#" class="envelope">
                <i class="fas fa-envelope fa-2x"></i>
                <i class="fas fa-envelope-open fa-2x"></i>
                </a>

            </p>
        </div>
        <div class="card-footer">
            <div class="col vr">
        
            
            
                <p>
                <i class="far fa-gem fa-lg"></i>
                <span class="join">Csatlakozas datuma: </span>1978.10.11.</p>
            </div>
        
        </div>
    </div>
</body>

</html>

