<h1 class="my-5">Eszköz bérlések</h1>

<div class="row">

  <%= render 'column', rents: @rents.pending, status: t(:pending) %>
  <%= render 'column', rents: @rents.accepted, status: t(:accepted) %>
  <%= render 'column', rents: @rents.rented, status: t(:rented) %>


</div>
<div class="row justify-content-center">
  <div class="col-12 col-lg-10">
    <div class="my-5 text-end">
      <%= link_to 'Lezárt bérlések', closed_rents_path, class: "link-primary" %>
    </div>
  </div>
</div>
