<%= link_to 'New Album', new_album_path %>

<%# Header %>
<% content_for :header do %>
  <header class="mb-4 mt-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 text-center">
          <h1 class="fs-1">Galéria</h1>
          <p class="fs-4">Albumok eseményeinkről</p>
        </div>
      </div>
    </div>
  </header>
<% end %>

<%# Content %>
  <div class="album">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @albums.each do |album| %>
        <div class="col">
          <%= link_to album, class: "card shadow-sm album-card clickable" do  %>
            <%= image_tag  album.thumbnail %>

            <div class="bg-light rounded album-card-date">
              2021.<br />03.11.
            </div>

            <div class="card-body">
              <div class="card-title title">
                <span class="fs-4"><%= album.post.title %></span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>