/**
 * @author Triszt4n
 * Additional classes for the project
 */

a .clickable, .clickable {
  text-decoration: none;
  cursor: pointer;
  color: $body-color;
}

a .clickable:hover, .clickable:hover {
  color: $body-color;

  .title {
    color: $link-color;
    transition: all 150ms ease-in-out;
  }
  .timestamp {
    color: $link-color;
    transition: all 150ms ease-in-out;
  }
}

.thumbnail {
  height: 12rem;
  object-position: center;
  max-width: 20rem;
}

@media (max-width: 768px) {
  .thumbnail {
    height: 9rem;
    max-width: 15rem;
  }
}

// Toast

.custom-toast {
  position: absolute;
  top: 1rem;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

// Navbar

.absolute-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($black, .6) !important;
  z-index: 2;
  > * {
    z-index: 2;
  }
}

.navbar {
  background-color: transparent;
  background: transparent;
  font-weight: 600;
}

// Overlay

header.overlay {
  background: no-repeat center center;
  background-color: $body-bg;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
  color: $white;
}

// Album cards

.album-card-thumbnail {
  background-color: $black;
  object-fit: cover;
  object-position: center;
  filter: brightness(75%);
  transition: all 350ms ease-in-out;
  height: 14rem;
}

.album-card:hover {
  .album-card-thumbnail {
    filter: brightness(100%);
  }
}

.album-card-date {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  padding: .25rem;
  text-align: center;
}

.album-image-delete {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
}

// UI-slide-in

.ui-slide-in {
  width: 100%;
  background-color: rgba($black, .6);
  box-shadow: 0 .2rem 1rem rgba($black, .3);
  color: $white;
  padding: 1rem;
  margin-top: 35vh;
  animation: ui-slide-in-move 1.25s;
  animation-timing-function: cubic-bezier(.03, .98, .5, 1);
  transform-origin: left center;

  @media (max-width: 768px) {
    margin-top: 20vh;
  }

  .text-wrapper {
    text-transform: uppercase;
    overflow: hidden;
  }
}

.line {
  opacity: 0;
  animation: word-line-slide-out .25s forwards;
  animation-timing-function: ease-out;
  @for $i from 1 through 2 {
    $time: ($i * .25) + .25;
    &:nth-child(#{$i}n) {
        animation-delay: #{$time}s;
    }
  }
}

@keyframes ui-slide-in-move {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}

@keyframes word-line-slide-out {
  0% {
      transform: translateX(-10vw);
      opacity: 0;
  }
  100% {
      transform: translateX(0vw);
      opacity: 1;
  }
}
