<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<div class="my-4 d-flex justify-content-between">
  <%= link_to 'Vissza', items_path, class: "btn btn-outline-primary" %>
  <% if admin_signed_in? %>
    <%= link_to 'Módosítás', edit_item_path(@item), class: "btn btn-primary" %>
  <% end %>
</div>
