<h1>New Event Type</h1>
<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
<%= react_component("JsonFormBuilder", { schema:"{}", uischema:"{}" }) %>
<%= render 'form', event_type: @event_type %>

<%= link_to 'Back', event_types_path %>
