<p id="notice"><%= notice %></p>



<%= react_component("JsonFormPreview", {schema: @event_type.schema, uischema: @event_type.uischema}, {prerender:true}) %>

<%= link_to 'Edit', edit_event_type_path(@event_type) %> |
<%= link_to 'Back', event_types_path %>
