<div class="row justify-content-center">
  <div class="col-lg-10 col-12">
    <div class="d-flex flex-column flex-md-row mt-4 mb-1">
      <h1 class="text-center text-md-start flex-grow-1">Schönherz Airsoft Team</h1>
      <div class="text-center ms-md-4">
        <%= image_tag image_path('favicon.svg'), style: "height: 10rem" %>
      </div>
    </div>
    <div class="mt-5">
      <%= @post.formatted_document %>
    </div>
    <% if admin_signed_in? %>
      <div class="d-flex justify-content-end my-5">
        <%= link_to 'Módosítás', edit_post_path(@post), class: "btn btn-outline-primary" %>
      </div>
    <% end %>
  </div>
</div>
