<%# Header %>
<% content_for :header do %>
  <header class="mb-4 mt-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 text-center">
          <h1 class="fs-1">Rólunk</h1>
          <p class="fs-4">Schönherz Airsoft Team</p>
        </div>
      </div>
    </div>
  </header>
<% end %>

<%# Content %>
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-12 clearfix">
    <%# A logo for example ... %>
    <img src="https://via.placeholder.com/200" class="thumbnail ms-3 mb-3 float-end" alt="...">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget sodales sem, id convallis tortor. Suspendisse vulputate fringilla metus, non pulvinar turpis rutrum non. Ut sed ultricies urna, vel facilisis sapien. Morbi interdum fringilla nibh vitae consequat. Nunc id felis malesuada, eleifend sem quis, vehicula arcu. Nulla dignissim lacus vel justo molestie, sed bibendum ex vehicula. Quisque aliquam mi urna, in cursus elit lobortis a.
    </p>
    <p>
      Nulla aliquet augue sed ligula aliquet, a convallis turpis fermentum. In ultrices leo nunc, sed egestas sem pellentesque et. Fusce in tortor eget turpis pharetra cursus. Nunc mi magna, ullamcorper eu est vel, molestie porttitor lacus. Sed at eros ultricies, venenatis arcu eu, consectetur ex.
    </p>
    <p>
      Sed vitae orci nisi. Nunc fermentum condimentum metus volutpat facilisis. Maecenas finibus nunc ut sem mollis molestie. Nullam lectus enim, consequat ut pharetra efficitur, porta ac lectus.
    </p>
  </div>
</div>
