<p>Üdv, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>A Schönherz Airsoft Team weboldalán az email címe megváltozott: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>A Schönherz Airsoft Team weboldalán az email címe megváltozott: <%= @resource.email %>.</p>
<% end %>
