<p>Üdv, <%= @resource.email %>!</p>

<p>A Schönherz Airsoft Team weboldalán valaki a jelszó megváltoztatását kérte</p>

<p><%= link_to 'Jelszó megváltoztatása', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ha nem te kezdeményezted, hagyd figyelmen kívül ezt az email-t.</p>
<p>A jelszó nem fog megváltozni, amíg valaki nem kattint a linkre.</p>
