<p>Üdv, <%= @resource.email %>!</p>

<p>A fiókod a Schönherz Airsoft Team weboldalán lezárásra került túl sok sikertelen bejelentkezési próbálkozás miatt.</p>

<p>Kattints az alábbi linkre, hogy feloldjad:</p>

<p><%= link_to 'Fiók feloldása', unlock_url(@resource, unlock_token: @token) %></p>
