<footer class="mt-5 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start">
        <div class="me-4">
          <%= image_tag image_path('favicon.svg'), style: "height: 4rem" %>
        </div>
        <div class="text-center text-md-start py-3">
          <div class="py-0">
            Schönherz Airsoft Team &copy; 2021
          </div>
          <div class="py-0">
            <svg xmlns="http://www.w3.org/2000/svg" height="14" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
            </svg>
            with
            <svg xmlns="http://www.w3.org/2000/svg" height="14" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
            by <%= link_to 'Kir-Dev', 'https://kir-dev.sch.bme.hu' %>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-end">
        <a href="https://fb.com/groups/airsoftsch" target="_blank" class="me-2">
          <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 0 24 24" fill="currentColor">
            <path d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h8.615v-6.96h-2.338v-2.725h2.338v-2c0-2.325 1.42-3.592 3.5-3.592.699-.002 1.399.034 2.095.107v2.42h-1.435c-1.128 0-1.348.538-1.348 1.325v1.735h2.697l-.35 2.725h-2.348V21H20a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1z" />
          </svg>
        </a>
        <a href="mailto:airsoft@sch.bme.hu">
          <svg xmlns="http://www.w3.org/2000/svg" height="32" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
